<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><img src="Watch-List-48.png"/></a>
	</div>
</nav>
	
<section>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Playlist</th>
			<th>Channel</th>
			<th>Published At</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="playlist in playlists">
			<td><a href="#/playlists/{{playlist.id}}">{{playlist.snippet.title}}</a></td>
			<td><a ng-href="#/channels/{{playlist.snippet.channelId}}">{{playlist.snippet.channelTitle}}</a></td>
			<td>{{playlist.snippet.publishedAt}}</td>
		</tr>
		</tbody>
	</table>
</section>

<div id="search-container"><pre>Result: {{result}}</pre></div>