<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
	    <div class="navbar-header">
		    <a class="navbar-brand" href="#"><img src="Watch-List-48.png"/></a>
        </div>

        <ul class="nav navbar-nav">
            <li class="forceHand"><a ng-click="goBack()" class="navbar-link"><span class="glyphicon glyphicon-chevron-left"></span> Return</a></li>
        </ul>

        <form class="navbar-form navbar-right" role="add">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="YouTube URL">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
	</div>
</nav>
	
<section>
	<table class="table table-hover">
		<tbody>
		<tr ng-repeat="video in videos">
			<td><a ng-href="http://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}" target="_blank"><img ng-src="{{video.snippet.thumbnails.default.url}}" width="72" /></a></td>
			<td><a ng-href="http://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}" target="_blank">{{video.snippet.title}}</a></td>
			<td><a ng-href="#/channels/{{video.snippet.channelId}}">{{playlist.snippet.channelTitle}}</a></td>
			<td>{{video.contentDetails.duration}}</td>
		</tr>
		</tbody>
	</table>
</section>

<div id="search-container"><pre>Result: {{result}}</pre></div>